[project]
	description = 
[access "refs/*"]
  read = group reptest-core
  owner = group reptest-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group reptest-core
	label-Verified = -2..+2 group reptest-ptl
	label-Workflow = -1..+1 group reptest-core
	submit = group reptest-ptl
	read = group reptest-core
    read = group Registered Users
[access "refs/meta/config"]
    read = group reptest-core
    read = group Registered Users
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
